@charset "ISO-8859-1";


/* company name header */
.title1 {
  padding: 60px;
  text-align: center;
  background: gray;
  color: white;
  font-size: 30px;
}

h2, h3 {
	font-size: 25px;
}

/* review column */
.review {
  float: left;
  width: 50%;
  padding: 10px;
}

/* customer reviews */
.title2 {
	font-size: 25px;
    color: #483D8B;
    text-align: center;
}

/* put review in a box */
.review {
  background-color: white;
  width: 750px;
  border: 2px solid #483D8B;
  padding: 10px;
  margin: 5px;
}


/* prev and next buttons */
button {
  background-color: #483D8B;
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
